<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lerny</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'lerny/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'lerny/css/lerny-admin.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'lerny/css/lerny-admin.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'lerny/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <!-- searchPanes -->
    <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/1.0.1/css/searchPanes.dataTables.min.css">
    <!-- select -->
    <link href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'lerny/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lerny/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'lerny/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'lerny/js/admin-lerny.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'lerny/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'lerny/js/demo/chart-pie-demo.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'lerny/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lerny/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- searchPanes   -->
    <script src="https://cdn.datatables.net/searchpanes/1.3.0/js/dataTables.searchPanes.min.js"></script>
    <!-- select -->
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script> 

    <!-- Style CSS-->
    <style type="text/css">
        div.dtsp-verticalContainer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes,
        div.dtsp-verticalContainer div.container{
            width: 5%;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 0;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes{
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 26%;
        }

        div.dtsp-verticalPanes {
            margin-right: 20px;
        }

        div.dtsp-title {
            margin-right: 0px !important;
            margin-top: 13px !important;
        }

        input.dtsp-search {
            min-width: 0px !important;
            padding-left: 0px !important;
            margin: 0px !important;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes{
            flex-direction: column;
            flex-basis: 0px;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes div.dtsp-searchPane{
            flex-basis: 0px;
        }

        div.dtsp-verticalContainer div.container{
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 60%;
        }

        div.dtsp-panesContainer {
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 5px;
        }
    </style>

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion py-4" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center mb-4" href="">
                <img class="logo" src="{% static 'lerny/img/logo.svg' %}" alt="logo">
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'detail' %}">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Inicio</span></a>
                </li>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'charts' %}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Graficas</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
    
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
    
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                        </a>
                    <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                        aria-labelledby="searchDropdown">
                          <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small"
                                placeholder="Search for..." aria-label="Search"
                                aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                  <button class="btn btn-primary" type="button">
                                      <i class="fas fa-search fa-sm"></i>
                                  </button>
                                </div>
                            </div>
                          </form>
                        </div>
                    </li>
    
    
    
                  <!-- Nav Item - User Information -->
                  <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ username }}</span>
                    <img class="img-profile rounded-circle"
                    src="{% static 'lerny/img/undraw_profile.svg' %}">
                    </a>
                  
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                      <a class="dropdown-item" href="{% url 'logout' %}">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Salir
                      </a>
                    </div>
                  </li>
    
                </ul>
    
            </nav>
            <!-- End of Topbar -->

          </div>
          <!-- End of Main Content -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            {% if not have_company %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Compañia no encontrada!</strong> Al parecer no tienes una compañia asignada.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endif %}
            <h1 id="lerny_name"  class="h3 mb-2 text-gray-800" align="center">Lerny: PONER NOMBRE DEL LERNY ACA </h1>

            <!-- Content Row -->
            <div align="center">

              <!-- Filtros -->
              <div align="center">
                <select class="form-select" id="lerny_select" aria-label="Default select example">
                    <option selected value="-1">Todos los Lerny</option>
                </select>
                <p style="display: none">Microlerny</p>
                <select class="form-select" id="microlerny_select" aria-label="Default select example" style="display: none">
                    <option selected value="-1">Todos los Microlerny</option>
                </select>
                <button class="btn btn-dark" type="button" onclick="filter()">FILTRAR</button>
              </div>

              <div class="row" style="padding: 20px">
                <div class="col-xl-4 col-lg-4"></div>
              <div class="col-xl-4 col-lg-4">

            </div>

            
          </div> 
          <!-- End Page content -->
      

          <!-- Footer -->
          <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                      <span>Copyright &copy; Lerny 2021</span>
                  </div>
              </div>
          </footer>
          <!-- End of Footer -->
      
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<script type="text/javascript">

    var table = null

    function filter() {
        var lerny_id = $( "#lerny_select" ).children("option:selected").val();
        var microlerny_id = $( "#microlerny_select" ).children("option:selected").val();

        table.ajax.url( '/api_lerny/lernydetail/?lerny_id=' + lerny_id +'&microlerny_id=' + microlerny_id).load();
        myBarChart.destroy();
        myBarChartCant.destroy();
        myBarChartProgress.destroy();
        myBarChartAvg.destroy();

        $.ajax({
          method: 'GET',
          url: '/api_lerny/lernydetail/?lerny_id=' + lerny_id +'&microlerny_id=' + microlerny_id,
          success: function(respuesta) {
            var data_pie = respuesta.approved;
            var data_micro = respuesta.info_micro;
            var name_micro = respuesta.name_micro;
            var cont_micro = respuesta.cont_micro;
            var progress_micro = respuesta.progress_micro;
            var average = respuesta.average_micro;


            var ctx = document.getElementById("myBarChart");
            myBarChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: ["Aprobado", "No Aprobado"],
                datasets: [{
                  label: "Porcentaje",
                  data: data_pie,
                  backgroundColor: ['#4e73df', '#1cc88a'],
                  hoverBackgroundColor: ['#2e59d9', '#17a673'],
                  borderColor: "#4e73df",
              }],
          },
          options: {
            maintainAspectRatio: false,
            tooltips: {
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              borderColor: '#dddfeb',
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: true,
              caretPadding: 10,
          },
          legend: {
              display: false
          },
            scales: {
              xAxes: [{
                gridLines: {
                  display: false,
                  drawBorder: false
                },
                ticks: {
                  maxTicksLimit: 6
                },
                maxBarThickness: 25,
              }],
              yAxes: [{
                ticks: {
                  min: 0,
                  max: 100,
                  maxTicksLimit: 5,
                  padding: 10,
                  // Include a dollar sign in the ticks
                },
                gridLines: {
                  color: "rgb(234, 236, 244)",
                  zeroLineColor: "rgb(234, 236, 244)",
                  drawBorder: false,
                  borderDash: [2],
                  zeroLineBorderDash: [2]
                }
              }],
            },
      },
  });

    var ctx = document.getElementById("myBarChartCant");
    myBarChartCant = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: name_micro,
        datasets: [{
          label: "# Estudiantes",
          data: cont_micro,
          hoverBackgroundColor: ['#2e59d9'],
          borderColor: "#4e73df",
        }],
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: true,
          caretPadding: 10,
        },
        legend: {
          display: false
        },
        scales: {
          xAxes: [{
            gridLines: {
              display: false,
              drawBorder: false
            },
            ticks: {
              maxTicksLimit: 6
            },
            maxBarThickness: 25,
          }],
          yAxes: [{
            ticks: {
              maxTicksLimit: 5,
              padding: 10,
            },
            gridLines: {
              color: "rgb(234, 236, 244)",
              zeroLineColor: "rgb(234, 236, 244)",
              drawBorder: false,
              borderDash: [2],
              zeroLineBorderDash: [2]
            }
          }],
        },
      },
    });

    var ctx = document.getElementById("myBarChartProgress");
    myBarChartProgress = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: name_micro,
        datasets: [{
          label: "Progreso",
          data: progress_micro,
          hoverBackgroundColor: ['#2e59d9'],
          borderColor: "#4e73df",
        }],
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: true,
          caretPadding: 10,
        },
        legend: {
          display: false
        },
        scales: {
          xAxes: [{
            gridLines: {
              display: false,
              drawBorder: false
            },
            ticks: {
              maxTicksLimit: 6
            },
            maxBarThickness: 25,
          }],
          yAxes: [{
            ticks: {
              maxTicksLimit: 5,
              padding: 10,
            },
            gridLines: {
              color: "rgb(234, 236, 244)",
              zeroLineColor: "rgb(234, 236, 244)",
              drawBorder: false,
              borderDash: [2],
              zeroLineBorderDash: [2]
            }
          }],
        },
      },
    });

    var ctx = document.getElementById("myBarChartAvg");
    myBarChartAvg = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: name_micro,
        datasets: [{
          label: "Promedio",
          data: average,
          hoverBackgroundColor: ['#2e59d9'],
          borderColor: "#4e73df",
        }],
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: true,
          caretPadding: 10,
        },
        legend: {
          display: false
        },
        scales: {
          xAxes: [{
            gridLines: {
              display: false,
              drawBorder: false
            },
            ticks: {
              maxTicksLimit: 6
            },
            maxBarThickness: 25,
          }],
          yAxes: [{
            ticks: {
              maxTicksLimit: 5,
              padding: 10,
            },
            gridLines: {
              color: "rgb(234, 236, 244)",
              zeroLineColor: "rgb(234, 236, 244)",
              drawBorder: false,
              borderDash: [2],
              zeroLineBorderDash: [2]
            }
          }],
        },
      },
    });
},
    error: function() {
            console.log("No se ha podido obtener la información");
        }
    });

    }

    $( "#lerny_select" ).change(function() {
        $( "#lerny_name" ).text($( "#lerny_select" ).children("option:selected").text())
        $( "#microlerny_select" ).show()
        $('#microlerny_select').children().remove().end()
        .append('<option selected value="-1">Todos los Microlerny</option>') ;
        var lerny_id = $( "#lerny_select" ).children("option:selected").val();
        $.ajax({
            method: 'POST',
            url: '/api_lerny/microlernyapi/',
            data: { pk: lerny_id },
            success: function(data) {
                for(var i = 0; i < Object.keys(data).length; i++) {
                    document.getElementById("microlerny_select").innerHTML += "<option value='"+data[i].pk+"'>"+data[i].name+"</option>";
                }
            },
            error: function() {
                console.log("No se ha podido obtener la información");
            }
        });
    });

    $(document).ready(function() {

        table = $('#dataTable').DataTable( {
            ajax: {
                url: '/api_lerny/lernydetail/?lerny_id=-1&microlerny_id=-1',
                type: 'GET',
                dataType: 'json'
            },
            columns :[
            {data: 'identification'},
            {data: 'user'},
            {data: 'done'},
            {data: 'progress'},

            ],
            searchPanes: {
                layout: 'columns-1',
                columns: [0,1,2]
            },
            dom: '<"dtsp-dataTable"frtip>',
            pageLength: 20
        })

        table.searchPanes();
        $("div.dtsp-verticalPanes").append(table.searchPanes.container());
    })

    $.ajax({
        url: '/api_lerny/lernyapi/',
        success: function(data) {
            for(var i = 0; i < Object.keys(data).length; i++) {
                document.getElementById("lerny_select").innerHTML += "<option value='"+data[i].pk+"'>"+data[i].name+"</option>";
            }

            $( "#lerny_name" ).text(data[0].name)
        },
        error: function() {
            console.log("No se ha podido obtener la información");
        }
    });

</script>

</body>

</html>