<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lerny</title>
    
    
    <!-- Custom fonts for this template -->
    <link href="{% static 'lerny/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'lerny/css/lerny-admin.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'lerny/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <!-- searchPanes -->
    <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/1.0.1/css/searchPanes.dataTables.min.css">
    
    <!-- select -->
    <link href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    
    <!-- Fixed Header-->
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.2.0/css/fixedHeader.dataTables.min.css">

    <!-- Buttons-->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.1.1/css/buttons.bootstrap5.min.css">

    <!-- Style main-->
    <link rel="stylesheet" href="{% static 'lerny/css/main.css' %}">

    <style type="text/css">


        div.dtsp-verticalContainer{

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: flex-start;
                align-items: flex-start;
            }
    
        div.dtsp-verticalContainer div.dtsp-verticalPanes,
        div.dtsp-verticalContainer div.container{
            width: 5%;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 0;
        }
        
        div.dtsp-verticalContainer div.dtsp-verticalPanes{
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 26%;
        }
        
        div.dtsp-verticalPanes {
            margin-right: 20px;
        }
        
        div.dtsp-title {
            margin-right: 0px !important;
            margin-top: 13px !important;
        }
        
        input.dtsp-search {
            min-width: 0px !important;
            padding-left: 0px !important;
            margin: 0px !important;
        }
        
        div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes{
            flex-direction: column;
            flex-basis: 0px;
        }
        
        div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes div.dtsp-searchPane{
            flex-basis: 0px;
        }
        
        div.dtsp-verticalContainer div.container{
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 80%;
        }
    
        div.dtsp-panesContainer {
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 5px;
        }

        #Sidebar {
                height: 100%;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                overflow-x: hidden;
            }

        #wrapper #content-wrapper{
            margin-left: 15%;

        }

        .custom-select.custom-select-sm.form-control.form-control-sm {
            padding-right: 20px;
        }

        #dataTable_filter {
   
    display: contents;
}

    </style>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'lerny/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lerny/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'lerny/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'lerny/js/admin-lerny.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'lerny/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lerny/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- searchPanes   -->
    <script src="https://cdn.datatables.net/searchpanes/1.3.0/js/dataTables.searchPanes.min.js"></script>
    <!-- select -->
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script> 
    <!-- buttons -->
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <!-- fixed header-->
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>

    <!-- Buttons-->
    <script src="https://cdn.datatables.net/buttons/2.1.1/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
    




</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->

        <div id="Sidebar">

            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion py-4" id="accordionSidebar">
    
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center mb-4" href="">
                    <img class="logo" src="{% static 'lerny/img/logo.svg' %}" alt="logo">
                </a>
    
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
    
                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'detail' %}">
                        <i class="fas fa-tasks"></i>
                        <span>Entregables</span></a>
                </li>
    
                <!-- Divider -->
                <hr class="sidebar-divider">
    
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'charts' %}">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Progreso</span></a>
                </li>
    
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
    
    
            </ul>
        </div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ username }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'lerny/img/undraw_profile.svg' %}">
                            </a>
 
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

            </div>
            <!-- End of Main Content -->


            <!-- Begin Page Content -->
            <div class="my-3 mx-2 pl-4">
                
                {% if not have_company %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong>Compañia no encontrada!</strong> Al parecer no tienes una compañia asignada.
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}

                   

                    <!-- DataTales -->
                    <div class="card shadow mb-4 table-admin">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-white text-center">Entregables</h6>
                        </div>
                    </div>

                    <!-- Columns Table-->
                    <div class="demo-html">
                        <div class="dtsp-verticalContainer">
                            <div class="dtsp-verticalPanes col-3"></div>
                            <div class="container">
                                <table id="dataTable" class="display table table-striped table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Lerny</th>
                                            <th>Microlerny</th>
                                            <th>Recurso</th>
                                            <th>Identificacion</th>
                                            <th>Usuario</th>
                                            <th>Entregables</th>
                                            <th>Grupo</th>
                                            <th>Puntos</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            
                        </div>
                    </div>


                    <!-- Edit Modal Points -->
                    <div class="modal fade" id="editRow" tabindex="-1" role="dialog" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered" role="document">

                            <div class="modal-content">

                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar Puntos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>

                                <div class="modal-body">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">Puntos</span>
                                    </div>
                                    <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="points" id="points_amount">
                                </div>
                                    <input type="hidden" name="pk" id="pk_edit" value="">
                                </div>

                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" onclick="saveRowEdited()">Guardar Cambios</button>
                                </div>
                                
                            </div>

                        </div>

                    </div>

                    <!-- Edit Modal Tasks -->
                    <div class="modal fade" id="viewResponse" tabindex="-1" role="dialog" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered" role="document">

                            <div class="modal-content">

                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Entregables</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>

                                <div class="modal-body">
                                    {{i.user_response}}
                                    <input type="hidden" name="pk" id="response_view" value="">
                                </div> 
                                
                            </div>

                        </div>

                    </div>
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Lerny 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>

    <!-- SCRIPT FOR DATATABLES-->
    <script type="text/javascript">

        function editRow(pk) {
            document.getElementById("pk_edit").value = pk
            $('#editRow').modal('show');
            console.log(document.getElementById("pk_edit").value)
        }

        function viewResponse(user_response) {
            document.getElementById("response_view").value = user_response
            $('#editRow').modal('show');
            console.log(document.getElementById("response_view").value)
        }

        function saveRowEdited(){
            var pk = document.getElementById("pk_edit").value
            var points = document.getElementById("points_amount").value
            $.ajax({
                type:"POST",
                url:"/api_lerny/editresource/",
                data:{pk:pk, points:points},
                success:function(datos){
                   console.log(datos)
                   document.getElementById("pk_edit").value = ""
                   document.getElementById("points_amount").value = ""
                   $('#editRow').modal('hide');
                   $('#dataTable').DataTable().ajax.reload();
               }
            })
        }

        $(document).ready(function() {
            var table = $('#dataTable').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                },
                "orderCellsTop":true,
                ajax: {
                    url: '/api_lerny/apiresources/',
                    type: 'GET',
                    dataType: 'json'
                },
                columns :[
                    {data: 'lerny'},
                    {data: 'microlerny'},
                    {data: 'resource'},
                    {data: 'identification'},
                    {data: 'user'},
                    {data: 'response[,]'},
                    {data: 'Grupo'},
                    {data: 'points'},
                    {data: 'pk'},

                ],
                pageLength: 20,
                buttons: [
                    'copy', 'excel', 'pdf'
                ],           
            });
        
            // Filters for the table
            // Create a row in the head 
            $('#dataTable thead tr').clone(true).appendTo( '#dataTable thead' );

            // exclude columns
            $('#dataTable thead tr:eq(1) th').each( function (i) {
                var title = $(this).text();
                if (title == "Lerny" || title == "Microlerny" ||  title == "Recurso" || title == "Identificacion"|| title == "Usuario" || title == "Grupo") {
                    $(this).html( '<input type="text" class="form-control form-control-sm" placeholder="Buscar..." />' );
                }
                else {
                    $(this).html( '<input type="text" class="form-control form-control-sm" placeholder="Buscar..." disabled/>' );
                }
   
                $( 'input', this ).on( 'keyup change', function () {
                    if ( table.column(i).search() !== this.value ) {
                        table
                        .column(i)
                        .search( this.value )
                        .draw();
                    }
                } );
            } );


        });
    </script>

</body>

</html>