{% load static %}
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <div class="container-fluid">

      <div class="collapse navbar-collapse">
        
        <ul class="navbar-nav ml-auto mr-4" id="dropmenu_profile">

          <li class="nav-item">
            <span class="mr-3 text-gray-900 small">{{ username }}</span>
            <img class="img-profile rounded-circle mt-2"
            src="{% static 'lerny/img/undraw_profile.svg' %}"
            width="40">
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

              <!-- <li>
                <a class="dropdown-item" href="#">
                <i class="fa-solid fa-gear"></i>
                Admin
                </a>
              </li> -->
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Salir
                </a>
              </li>

            </ul>

          </li>
    
        </ul>

      </div>

    </div>
    
  </nav>
